---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="post-list">
      {%- for post in site.posts -%}
      <article class="post-preview">
        <a href="{{ post.url | relative_url }}" class="post-link">
          <h3 class="post-title">{{ post.title | escape }}</h3>
        </a>
        <div class="post-paragraph">
  {%- assign clean_content = post.content 
    | replace: '![', '' 
    | replace: '](', '' 
    | replace: ')', '' 
    | strip_html 
    | split: "\n" -%}
  {%- assign filtered_lines = "" -%}
  {{ clean_content | join: " " | truncatewords: 50 }}
</div>

        <a href="{{ post.url | relative_url }}" class="read-more">Read more →
      </article></a>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
